<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ranggarizky.tugas_akhir">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_forum_black_24dp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_forum_black_24dp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mainpage.MainActivity" />
        <activity android:name=".loginpage.LoginActivity">

        </activity>
        <activity android:name=".createkeywordpage.CreateKeywordActivity" />
        <activity android:name=".databarupage.NewDataActivity" />
        <activity android:name=".categorypage.CategoryActivity" />

        <activity android:name=".createcategorypage.CreateCategoryActivity" />
        <activity android:name=".dashboardcategorypage.DashBoardCategoryActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>